/* This is the main CSS for the application */

body {
    font-family: sans-serif;
}

/* general styling */

.link {
    text-decoration: none;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.error-handling {
    padding: 10px;
}

.displayed-block {
    display: block;
}

.displayed-inline {
    display: inline;
}

.non-displayed {
    display: none;
}

/* index.html */


#title-container {
    display: flex;
    width: 500px;
    text-align: center;
    flex-direction: column;
    margin: 300px auto;
}

/* end of index.html */


/* singup.html */

#main-container-singup {
    text-align: center;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#title-singup {
    font-size: 60px;
    text-shadow: 3px 1px black;
    word-spacing: 10px;
}

#singUpForm {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 20px auto;
    text-align: left;
}


input[type="text"], input[type="password"], input[type="email"] {
    margin-top: 10px;
    border: none;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(197, 200, 204);
    border-radius: 6px;
}

.btn-form {
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    margin: 0 auto;
}

.formSeparator {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
}

/* end of singup.html */